{% extends 'music/base.html' %}
{% block title %}{{ album.album_title }} - DETAILS{% endblock %}

{% block body %}

    <div class=" m-5">
        <div class="row">
            <div class="col-md-5 col-lg-4">
                <div class="card text-center">
                    <img src="{{ album.album_logo }}" class="card-img-top" />
                    <div class="card-block px-3">
                        <div class="card-text ">
                            <h1 class="card-title ">{{ album.album_title }}</h1>
                            <h3 class="">{{ album.artist }}</h3>
                            <h5>{{ album.genre }}</h5>
                        </div>
                        <button class="btn btn-default m-2" ><i class="fas fa-trash-alt"></i></button>
                        <button class="btn btn-warning m-2" ><i class="fas fa-star"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-8">
                <div class="navi m-3">
                    <button class="btn btn-info mr-3">ALL</button>
                    <label><a href="" >Add new Song</a></label>
                </div>
                <table class="table table-striped table-sm">
                     <thead class="thead-dark">
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for song in album.song_set.all %}
                                <tr >
                                    <td> {{ song.song_title }}</td>
                                    <td>Audio file</td>
                                    <td>Favourite</td>
                                    <td>
                                        <form class="form-inline">
                                        <button class="btn btn-info m-2">det</button>
                                        <button class="btn btn-danger m-2">del</button>
                                        <button class="btn btn-warning m-2" >fav</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            </div>
        </div>

    </div>



{% endblock %}