{% extends 'music/base.html' %}

{% block body %}
    <div class="container mt-3 ">
        {% for album in all_albums %}
            <div class="card mx-2 " style="float: left;">
                <img src="{{ album.album_logo.url }}"width="300" height="300" />
                <div class="card-block px-2">
                    <h1> {{ album.album_title }} </h1>
                    <h2>{{ album.artist }}</h2>
                    <h5>{{ album.genre }}</h5>
                    <button class="btn btn-info m-1" ><a href="{% url 'music:detail' album.id %}" style="text-decoration: none;color: white;">Details</a></button>
                    {% include 'music/delete-favourite-edit-buttons.html' %}


                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
