<!-- Loads static files -->
{% load staticfiles %}

<link rel="stylesheet" href="{% static 'music/style.css' %}" type="text/css" />
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<nav class="navbar navbar-default bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-white" href="{% url 'music:index'%}"> Piter </a>
        </div>
    </div>
</nav>

{% if all_albums %}
    <h3>All Albums: </h3>
    <ul>
        {% for album in all_albums %}
        <li><a href="{% url 'music:detail' album.id %}"> {{ album.album_title }} </a></li>
        {% endfor %}
    </ul>
{% else %}
    <h3> You don't have any albums</h3>
{% endif %}
